extends ./layout.jade

block content
  .row
    .col-sm-12
      h2
        a(href="/feed") 1batch
        small &nbsp;an app for sharing 8 photos.
      if forUser
        a.btn.btn-inverse.pull-right(href="/logout") Log Out
      else
        a.btn.btn-primary.pull-right(href="/profile") Log In
  .row
    .col-sm-12.col-md-6
      h1
        a(href="/profile/#{user.name}") #{user.name}
      h4 posted #{posted}

  .row
    .col-sm-12
      hr
      img.bigimage(src=image.src.main, srcset="#{image.src.main} 1x, #{image.src.retina} 2x")

  if presentUser
    .row
      .col-sm-12
        form(action="/comment", method="POST")
          textarea(name="text")
          input(type="submit", value="POST")

  .row
    .col-sm-12.comments

block scripts
  script(type="text/javascript") var comments = !{JSON.stringify(image.comments)};
  script(type="text/javascript", src="/lib/jquery-1.11.3.min.js")
  script(type="text/javascript", src="/comments.js")
