doctype
html
  head
    meta(charset="utf-8")
    title 1batch
    link(rel="stylesheet", type="text/css", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/1batch.css")
  body
    .container
      .row
        .col-sm-12
          h1
            span 1batch&nbsp;
            small is an app for sharing 8 photos.
            if !forUser
              a.btn.btn-primary.pull-right(href="/profile") Log In
            else
              a.pull-right(href="/logout")
                button.btn.btn-inverse.pull-right Log Out

      .row
        .col-sm-12.col-md-6
          h1= user.name
          if user.posted
            h4 posted #{user.posted.toISOString()}
          else
            if forUser && user._id == forUser._id
              h4 You haven't posted yet!
            else
              h4 hasn't posted yet!
          if forUser
            if forUser.name == user.name
              a.btn.btn-success(href="#", disabled="true") You
            else
              if following
                a.btn.btn-success(href="#", disabled="true") Following
              else
                a.btn.btn-success(href="/follow/#{user.name}") Follow
      if user.posted
        .row.profilephotos
          for index in [0, 1, 2, 3]
            .col-sm-6.col-lg-3
              a(href="/#{user.name}/photo/#{user.imageids[index]}").pcon
                img(src=user.images[index])
        .row.profilephotos
          for index in [4, 5, 6, 7]
            .col-sm-6.col-lg-3
              a(href="/#{user.name}/photo/#{user.imageids[index]}").pcon
                img(src=user.images[index])
      else
        if forUser && user._id == forUser._id
          .row
            .col-sm-12
              form.well(action="/testupload", method="POST")
                label Upload a photo that you might use
                input(type="file")
                br
                button.btn.btn-success Test Upload
          .row
            .col-sm-12
              if user.images.length
                p Saved images
                for image in user.images
                  img(src=image)
              else
                p No images uploaded yet... try some!

      .row
        .col-sm-12
          hr
          small &copy; 2016 Nick Doiron
